@media (min-width: 414px) {
    
    .page-home-card {
        background-color: transparent;
        border-color: transparent;
    }

    .page-home {

        margin: 30px;
        border-radius: 20px;
        background-color: blueviolet;

        width: 374px;
        height: 646px;

        display: flex;
        padding: 10px;
        flex-direction: col;
        align-items: center;
        flex-direction:column;
        margin: auto;
    }
    
    .page-home-content {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        /*background-color: yellow;*/
    }
    
    .page-home-main-image {
        display: flex;
        align-items: center;
        margin-top: 50px;
    }
    
    .page-home-main-image > svg {
        /*background-color: red;*/
        width: 339px;
        height:252px;
    }
    
    .page-home-botao {
        display: flex;
        flex-direction: row-reverse;
        margin: 33px auto auto auto;
        width: 334px;
        height: 50px;
    }
    
    .page-home-botao-b1 {
        margin: 0;
        /*height: 50px;*/
        width: 50px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        font-size: 16px;
        font-weight: 700;
        background-color:rgba(38, 50, 56, 0.7);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    .page-home-botao-b2 {
        /*height: 50px;*/
        width:100px;
        flex-grow: 3;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        font-size: 16px;
        font-weight: 700;
        background-color: rgba(64, 123, 255, 1);
    }
    
    
    .card-title {
        /*background-color: darkgoldenrod;*/
        font-weight: 700;
        font-size: 26px;
        text-align: center;
        margin: 39px auto auto auto;
        width: 330px;
        
    }
    
    .card-text {
        /*background-color: burlywood;*/
        text-align: center;
        font-size: 16px;
        color:rgba(158, 158, 158, 1);
        padding-bottom: 0px;
        margin: 15px auto auto auto;
        width: 243px;
    }
}



@media (min-width: 1024px) {
    .card {
        margin: 30px;
        border-radius: 20px;
        background-color: blueviolet;
    }
    
    .page-home {
        background-color:green;
        display: flex;
        padding: 10px;
        height: 1366px;
        width: 1024px;
        flex-direction: col;
        align-items: center;
        flex-direction:column;
        margin: auto;
    }
    
    .page-home-content {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        background-color: yellow;
    }
    
    .page-home-main-image {
        display: flex;
        align-items: center;
        margin-top: 125px;
    }
    
    .page-home-main-image > svg {
        background-color: red;
        /*padding: 40px;*/
    }
    
    .page-home-botao {
        display: flex;
        flex-direction: row-reverse;
        padding-top: 0;
        margin: 47px auto auto auto;
        width: 450px;
        height: 70px;
    }
    
    .page-home-botao-b1 {
        margin: 0;
        /*height: 50px;*/
        width: 70px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        font-size: 24px;
        font-weight: 700;
        background-color:rgba(38, 50, 56, 0.7);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    .page-home-botao-b2 {
        /*height: 50px;*/
        width:100px;
        flex-grow: 3;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        font-size: 24px;
        font-weight: 700;
        background-color: rgba(64, 123, 255, 1);
    }
    
    
    .card-title {
        background-color: darkgoldenrod;
        font-weight: 700;
        font-size: 55px;
        text-align: center;
        margin: 87px auto auto auto;
        width: 585px;
        
    }
    
    .card-text {
        background-color: burlywood;
        margin-left: 90px;
        text-align: center;
        font-size: 24px;
        color:rgba(158, 158, 158, 1);
        padding-bottom: 0px;
        margin: 26px auto auto auto;
        width: 576px;
    }
}



@media (min-width: 1440px) {
    .card {
        margin: 30px;
        border-radius: 20px;
        background-color: blueviolet;
    }
    
    .page-home {
        background-color:green;
        display: flex;
        padding: 10px;
        height: 1022px;
        width: 1440px;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-content: space-between;
    }
    
    .page-home-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: col-reverse;
        align-content: center;
        background-color: yellow;    
    }
    
    .page-home-main-image {
        display: flex;
        align-items: center;
    }
    
    .page-home-main-image > svg {
        background-color: red;
        padding: 40px;
    }
    
    .page-home-botao {
        display: flex;
        flex-direction: row-reverse;
        margin-left: 90px;
        padding-top: 0;
        width: 450px;
        height: 70px;
    }
    
    .page-home-botao-b1 {
        margin: 0;
        /*height: 50px;*/
        width: 70px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        font-size: 24px;
        font-weight: 700;
        background-color:rgba(38, 50, 56, 0.7);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    .page-home-botao-b2 {
        /*height: 50px;*/
        width:100px;
        flex-grow: 3;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        font-size: 24px;
        font-weight: 700;
        background-color: rgba(64, 123, 255, 1);
    }
    
    
    .card-title {
        background-color: darkgoldenrod;
        font-weight: 700;
        font-size: 55px;
        text-align: left;
        margin-left: 90px;
        margin-bottom: 26px;
    }
    
    .card-text {
        background-color: burlywood;
        margin-left: 90px;
        text-align: left;
        /*width: 70%;*/
        font-size: 24px;
        color:rgba(158, 158, 158, 1);
        padding-bottom: 0px;
        margin-bottom: 151px;
        padding-right: 100px;
    }
}


