
.product-search-card {
    background-color: transparent;
    border-color: transparent;
    border-radius: 0;
    margin: 10px;
}

.product-search-header {
    margin: 10px;
    font-size: 18px;
    font-weight: 700;
}
.product-search-card-body {
    background-color: white;
    padding: 30px 30px 10px 30px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;

    /*flex-flow: row wrap;*/
    
}

.product-search {
    width: 374px;
    height: 141px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
}



.product-search-container1 {
    display: flex;
    flex-direction: col-reverse;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid rgba(158, 158, 158, 1);
}

.product-search-container1 .form-control {
}





.product-search-container1 > input {
    background-color: white;
    border: transparent;
}

#button-addon2 {
    color: rgba(158, 158, 158, 1);
    border: 2px solid #E1E1E1;
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    background-color: white;
    border: transparent;
    
}


.product-search-container1 .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.product-search-container2 {
    display: flex;
    width: 100%;
    margin: 24px auto auto auto;
}

.product-search-container2 .form-select {
    font-size: 16px;
    font-weight: 400;
    color: rgba(158, 158, 158, 1);
    margin-right:20px;
    background-color: white;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}

.product-search-container2 .product-search-container2-button {
    font-size: 12px;
    font-weight: 700;
    width: 212px;
    height: 40px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #E1E1E1;
    color: rgba(158, 158, 158, 1);
}

.form-control {
    font-weight: 400;
    font-size: 16px;
    margin-top: 5px;
}


.mb-3 select {
    color: rgba(158, 158, 158, 1);
}

.mb-3 .product-search-button-1 {
    color: rgba(158, 158, 158, 1);
    border-color: rgba(158, 158, 158, 1);
    border-style: solid;
}
